<div class="full-container">
  <div *ngIf="!terminal" class="login">
    <div class="login-header">
      <img src="../../assets/images/cat.svg" class="logo">
      <div class="logo-text">HERCAT</div>
    </div>
    <div class="input-form">
      <div class="input-item">
          <small class="input-tip">Email</small>
          <input [(ngModel)]="user.email" class="input" type="email" placeholder="email">
          <label class="error-msg">输入有误</label>
      </div>
      <div class="input-item">
          <small class="input-tip">Password</small>
          <input [(ngModel)]="user.password" class="input" type="password" placeholder="password">
          <label class="error-msg">输入有误</label>
      </div>

      <div class="btn-container">
        <button type="button" (click)="login()" class="btn btn-primary btn-sm btn-block">登 录</button>

      </div>
      <div class="btn-container">
        <button (click)="loginWithGithub()" style="float: left" type="button" class="btn btn-light btn-sm"><i class="fab fa-github"></i>使用Github登录</button>
        <div style="margin-left: 30px; float: left">
          <small>没有账号？</small><button (click)="register()" type="button" class="btn btn-link btn-sm">点我注册</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="terminal" class="full-container terminal-container">
    <pre style="color: white">
'##::::'##:'########:'########:::'######:::::'###::::'########::'######::
 ##:::: ##: ##.....:: ##.... ##:'##... ##:::'## ##:::... ##..::'##... ##:
 ##:::: ##: ##::::::: ##:::: ##: ##:::..:::'##:. ##::::: ##:::: ##:::..::
 #########: ######::: ########:: ##:::::::'##:::. ##:::: ##::::. ######::
 ##.... ##: ##...:::: ##.. ##::: ##::::::: #########:::: ##:::::..... ##:
 ##:::: ##: ##::::::: ##::. ##:: ##::: ##: ##.... ##:::: ##::::'##::: ##:
 ##:::: ##: ########: ##:::. ##:. ######:: ##:::: ##:::: ##::::. ######::
..:::::..::........::..:::::..:::......:::..:::::..:::::..::::::......:::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
               Welcome to the world of hercats
    I just want to share some idea to you. If you enjoy this site, o
 r you have any suggestions to me, please let me know.
    This site allows you login with variety ways, such as registered ac
 counts or Github auth. If you want to use github auth, you can type
 <kbd>github</kbd> and hit <kbd>enter</kbd>. Otherwise, just follow the tips to login.
.....................................................................</pre>
    <div class="terminal-cache">
      <span *ngFor="let cache of caches" class="cache-item">{{cache}}</span>
    </div>
    <div class="terminal-input">
      <input [(ngModel)]="input" (keydown)="keyDown($event)" autofocus="autofocus" class="inputer">
      <span class="user">{{shellUser}}</span>
      <span class="content">{{tip}}{{input}}</span>
      <span class="cursor animated flash infinite"></span>
    </div>
  </div>

  <div class="close-btn" (click)="back()">
    <i class="fas fa-times"></i>
  </div>
</div>
