<div class="full-container">
  <div class="login">
    <div class="login-header">
      <img src="../../assets/images/cat.svg" class="logo">
      <div class="logo-text">HERCAT</div>
    </div>
    <div class="input-form">
      <div class="input-item">
          <small class="input-tip">Email</small>
          <input [(ngModel)]="user.email" class="input" type="email" placeholder="email">
          <label class="error-msg">输入有误</label>
      </div>
      <div class="input-item">
          <small class="input-tip">Password</small>
          <input [(ngModel)]="user.password" class="input" type="password" placeholder="password">
          <label class="error-msg">输入有误</label>
      </div>

      <div class="btn-container">
        <button type="button" (click)="login()" class="btn btn-primary btn-sm btn-block">登 录</button>

      </div>
      <div class="btn-container">
        <button (click)="loginWithGithub()" style="float: left" type="button" class="btn btn-light btn-sm"><i class="fab fa-github"></i>使用Github登录</button>
        <div style="margin-left: 30px; float: left">
          <small>没有账号？</small><button type="button" class="btn btn-link btn-sm">点我注册</button>
        </div>
      </div>
    </div>
  </div>
  <div class="close-btn" (click)="back()">
    <i class="fas fa-times"></i>
  </div>
</div>
