<div class="full-container">
  <div class="login">
    <div class="login-header">
      <img src="../../assets/images/cat.svg" class="logo">
      <div class="logo-text">HERCAT</div>
    </div>
    <div class="input-form">
      <div class="input-item">
        <small class="input-tip">Email</small>
        <input class="input" type="email" placeholder="email">
        <label class="error-msg">输入有误</label>
      </div>
      <div class="input-item">
        <small class="input-tip">Password</small>
        <input class="input" type="password" placeholder="password">
        <label class="error-msg">输入有误</label>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm btn-block">登 录</button>
      </div>
    </div>
  </div>
</div>
