.list-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.p-date-group {
  width: 90%;
  margin-left: 5%;
  line-height: 40px;
}
.p-date {
  font-size: medium;
  font-weight: bolder;
  float: left;
  width: 100px;
}
.p-lists {
  float: left;
  display: block;
  width: calc(100% - 100px);
}
.p-item {
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
}
.p-item:first-child {
  margin-top: 0;
}
.p-item:hover {
  cursor: pointer;
  color: #1E90FF;
  font-weight: bolder;
}
.load-btn {
  margin-top: 20px;
}
@media only screen and (max-width: 560px){
  .p-lists {
    width: 100%;
  }
  .p-item {
    padding-left: 0;
  }
  .p-date {
    text-align: left;
  }
}
