<div class="list-container">
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>

  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>

  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>

  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>

  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>

  <div class="p-date-group">
    <div class="p-date">Feb 2018</div>
    <div class="p-lists">
      <div class="p-item list-group-item-action">sdaw</div>
      <div class="p-item list-group-item-action">sdas</div>
      <div class="p-item list-group-item-action">sdwe2aw</div>
      <div class="p-item list-group-item-action">21324</div>
    </div>
  </div>
</div>
