.type-info {
  height: 150px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: repeat-x center;
}
.type-title {
  line-height: 150px;
  text-align: center;
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-shadow: 0 1px 3px white;
}
.article-list {
  margin-top: 20px;
}
