<div class="full-container">
  <div class="container">
    <div class="auth-container">
      <div class="au-header">
        <img src="../../assets/images/cat.svg" class="logo-img">
        <div class="logo-text">第三方认证</div>
      </div>
      <div class="text-center" style="margin-top: 20px">
        <small>
          <p>正在进行<span class="badge badge-primary">Github</span>认证中，请稍候...</p>
          <p>认证完成后会自动跳转</p>
          <p>如果没有跳转，请点击<a href="#" (click)="toHome()">手动跳转</a></p>
        </small>
      </div>
    </div>
  </div>
</div>
