<div class="n-nav fixed-top">
  <div class="title">title</div>
  <div class="right nav-btn" *ngIf="rightBtn" (click)="login()">
    <i class="fas fa-qrcode right-btn"></i>
  </div>
  <div class="login-info">
    <p class="text-muted">管理员</p>
  </div>
  <div class="left nav-btn" *ngIf="leftBtn">
    <i class="fas fa-chevron-left left-btn"></i>
  </div>
  <div class="nav-right">
    <ul class="right-navs" #father>
      <li class="r-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 0}" (click)="itemClicked(father, 0)">
        <i class="nav-icon fas fa-hourglass-end"></i>
        <div class="f-nav-text">Times</div>
      </li>
      <li class="r-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 1}" (click)="itemClicked(father, 1)">
        <i class="nav-icon fas fa-blog"></i>
        <div class="f-nav-text">Articles</div>
      </li>
      <li class="r-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 2}" (click)="itemClicked(father, 2)">
        <i class="nav-icon fas fa-swatchbook"></i>
        <div class="f-nav-text">Catalogs</div>
      </li>
      <li class="r-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 3}" (click)="itemClicked(father, 3)">
        <i class="nav-icon fas fa-ghost"></i>
        <div class="f-nav-text">Evils</div>
      </li>
    </ul>
  </div>
  <div class="foot">
    <ul class="foot-navs" #parent>
      <li class="f-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 0}" (click)="itemClicked(parent, 0)">
        <i class="nav-icon fas fa-hourglass-end"></i>
        <div class="f-nav-text">Times</div>
      </li>
      <li class="f-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 1}" (click)="itemClicked(parent, 1)">
        <i class="nav-icon fas fa-blog"></i>
        <div class="f-nav-text">Articles</div>
      </li>
      <li class="f-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 2}" (click)="itemClicked(parent, 2)">
        <i class="nav-icon fas fa-swatchbook"></i>
        <div class="f-nav-text">Catalogs</div>
      </li>
      <li class="f-nav-item nav-btn" [ngClass]="{'n-i-active': currentItem === 3}" (click)="itemClicked(parent, 3)">
        <i class="nav-icon fas fa-ghost"></i>
        <div class="f-nav-text">Evils</div>
      </li>
    </ul>
  </div>
</div>
