.article-header {
  height: 150px;
  text-align: center;
}
.article-title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  font-family: "Times New Roman", sans-serif;
}
.article-type {
  font-size: 15px;
}

.close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 25px;
  top: 20px;
  left: 30px;
  color: #212121;
}
.close-btn:hover {
  color: #007BFF;
}
