.re-container {
  width: 50%;
  left: 25%;
  position: relative;
  margin-top: 15%;
}
.re-header {
  height: 100px;
}
.logo-img {
  height: 100px;
  width: 100px;
  float: left;
}
.logo-text {
  height: 100px;
  line-height: 100px;
  padding: 0 10px;
  background-color: #d1675d;
  color: white;
  font-size: 30px;
  float: right;
}
.close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 25px;
  top: 20px;
  left: 30px;
  color: #212121;
}
.close-btn:hover {
  color: #007BFF;
}
label {
  font-size: 12px;
  margin-bottom: 0;
}
small {
  font-size: 12px;
}
input {
  margin-top: 2px!important;
}
@media only screen and (max-width: 560px){
  .re-container {
    width: 98%;
    left: 1%;
  }
  .re-header {
    height: 60px;
  }
  .logo-img {
    height: 60px;
    width: 60px;
  }
  .logo-text {
    height: 60px;
    line-height: 60px;
  }
}
