<div class="full-container scrollable">
  <nav class="navbar navbar-light card">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/cat.svg" width="30px" height="30px" class="d-inline-block align-top" alt="">
      Hercats
    </a>
  </nav>
  <div class="container admin-container">
    <div class="row flex-row">
      <div class="admin-item card">
        <label class="text-muted">文章 &nbsp;&nbsp;&nbsp;<span class="badge badge-primary">23</span></label>
        <div>
          <div class="fun-item hvr-icon-spin">
            <i class="fas fa-plus fun-item-icon hvr-icon"></i>
            <label class="fun-item-text">发布文章</label>
          </div>
        </div>
      </div>
      <div class="admin-item card">
        <label class="text-muted">抄本 &nbsp;&nbsp;&nbsp;<span class="badge badge-primary">23</span></label>
        <div>
          <div class="fun-item hvr-icon-spin">
            <i class="fas fa-plus fun-item-icon hvr-icon"></i>
            <label class="fun-item-text">新建抄本</label>
          </div>
        </div>
      </div>
      <div class="admin-item card">
        <label class="text-muted">恶魔 &nbsp;&nbsp;&nbsp;<span class="badge badge-primary">23</span></label>
        <div>
          <div class="fun-item hvr-icon-spin">
            <i class="fas fa-plus fun-item-icon hvr-icon"></i>
            <label class="fun-item-text">说点什么吧</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
