.toast-container {
  width: 60%;
  position: absolute;
  bottom: 10px;
  left: 20%;
  padding: 0;
  z-index: 9999;
}
.m-toast {
  margin: 0 0 10px 0;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  word-wrap: break-word;
}
.m-toast:last-child {
  margin: 0;
}
.m-toast-header {
  height: 35px;
  background: #FFFFFF;
  text-align: left;
  padding-left: 10px;
  font-weight: bolder;
  line-height: 35px;
  color: black;
  border-bottom: 1px solid rgba(26, 26, 26, 0.1);
}
.toast-title {
  font-weight: bolder;
  padding-right: 10px;
  font-size: 20px;
}
.close-btn {
  right: 10px;
  top: 10px;
  float: right;
}
.close-btn:hover {
  color: #1E90FF;
}
.toast-date {
  font-size: 12px;
}


@media only screen and (max-width: 560px) {
  .m-toast {
    border-radius: 0;
  }
  .toast-container {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

