<div class="evils-container">
  <div class="row flex-row">
    <div class="evils hvr-shutter-in-horizontal">dasdsa</div>
    <div class="evils hvr-shutter-in-horizontal">dasdsa</div>
    <div class="evils hvr-shutter-in-horizontal">dasdsa</div>
    <div class="evils hvr-shutter-in-horizontal">dasddasddaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasa</div>
    <div class="evils hvr-shutter-in-horizontal">dasddasddaaaadasfasfaaasdaaaaaaaaawwwwww23aaaasa</div>
    <div class="evils hvr-shutter-in-horizontal">dawfwwww2232</div>
    <div class="evils hvr-shutter-in-horizontal">dasddasddaaaadasfasfaaasdaaaaaaaaawwwwww23aaaasa</div>
    <div class="evils hvr-shutter-in-horizontal">dasddasddaaaadasfasfaaasdaaaaaaaaawwwwww23aaaasa</div>
    <div class="evils hvr-shutter-in-horizontal">dasddasddaaaadasfasfaaasdaaaaaaaaawwwwww23aaaasa</div>
    <div class="evils hvr-shutter-in-horizontal">dasddasddaaaadasfasfaaasdaaaaaaaaawwwwww23aaaasa</div>
    <div class="evils hvr-shutter-in-horizontal">Assuming you want to use the Grow effect, in the HTML
      file you'd like to use this effect, add the class of .hvr-grow to your chosen element.a</div>
  </div>
</div>
